@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

a{
  color: #001F3F;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

table td{
  padding: 10px;
}

#scores{
  background-color: #aaaaaa;
  border: 1px solid #111111;
  padding: 10px;
}

.score{
  display: inline-block;
  border: 1px solid #111111;
  width: 10px;
  margin-right: 3px;
}

